.App{
    background-image: url("../Images/jessy-smith-zFOm6KzA-7g-unsplash.jpg") ;
    background-repeat: no-repeat;
  background-size: cover;
}
.background{
    background-image: url("../Images/jeshoots-com-pUAM5hPaCRI-unsplash.jpg") ;
    background-repeat: no-repeat;
  background-size: cover;
}
