.skillslist-left {
   position: relative;   
    padding:0;    
     margin-top: 2vh;   
    font-size: larger; 
    font-style: italic; 
   margin-left: 50%
}
.skillslist-right {
  position: relative;   
   padding:0;    
    margin-top: 2vh;   
   font-size: larger; 
   font-style: italic; 
  /* right: 50% */
}
#skillsheader{
    text-align: center;
    /* padding:5px */
}
.skill-div-left{
  display: block;
  text-align: left
}
.skill-div-right{
  display: block;
  text-align: left
}



#techcard{
    width:100%;   
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0px;
    /* background-color:rgba(214, 214, 214 ); */
   
background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);

    text-align: center;
    /* border-bottom: 8px solid rgb(99, 129, 192); */
    border-top:8px solid rgb(99, 129, 192)
}

#techBtn{
  margin-left: auto;
  margin-right: auto;
  
    background-image: none;
    background-color:#1a5d97;
    border-color:#337ab7;  
    margin-top: 5vh;  
   

}
#techBtn:hover {
    background-color:#144168; /* Green */
    color: white;
    
  }

#myportfoliobtn{
    color: cornsilk;
    text-decoration: none;
    
}

/* Examples of apps in tech card component */
.dark-bg{
  margin-top: 2vh;
  height: 10vh;
  width: 18vh;
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  border-radius: 0.5vh;
  border: 0.5vh solid white;
  padding: 0.2vh; 
  display: inline-flexbox;
  margin-left: 13.5vh; 
  

}
p.project-text{ 
  display: inline-block;
  margin-top:15%;
  padding:0.2vh  
 
}
