.myNavBar{
    border-bottom: 8px solid rgb(99, 129, 192);
}

  .mr-auto{
     
      margin-left: 70%;
      
  }
  .Navlinks{
      color: white;
      margin:10px;
    
  }
  .Navlinks:hover{
      color: grey;
      text-decoration: none;
  }
  .navbar-toggler-icon:hover{
     background-color: rgba(107, 107, 107, 0.808);
  }