 
 .slider-wrapper {

height:800px;
margin-bottom:0px;
width:500px
} 
.carousel.carousel-slider{
height:800px;
margin-bottom:0px
}
.carousel-root{
    background-color: rgb(173, 48, 48);
  margin-bottom: 600px;
   height:200px;
   
}
.carousel .slide .legend{
    position:relative;
    margin-top: 0px;
    bottom:0px;
   
   
}
