
.slider-wrapper {
/* background-color: red; */
height:600px;
margin-bottom:0px
}
.carousel.carousel-slider{
height:700px;
margin-bottom:0px
}
.carousel-root{
    /* height:10px; */
    /* background-color: red; */
    height:700px
}
.carousel .slide .legend{
    position:relative;
    margin-top: 0px;
    bottom:100px;
   
   
}