#leaveContacts{
   max-width: 500px;
}
#form{

    background-color:rgba(235, 235, 235, 0.938);
    padding:10px;
    border-radius: 3px;
    margin-top: 50px;
    margin-bottom: 100px;
   
}
#submitinfo.btn-primary{
    background-image: none;
    background-color:#1a5d97;
    border-color:#337ab7;
    margin:3px;
   }
   #submitinfo.btn-primary:hover {
     background-color:#144168;
     color: white;
   }
   body{
    background-image: url("../../../Images/jeshoots-com-pUAM5hPaCRI-unsplash.jpg") ;
    background-repeat: no-repeat;
  background-size: 100%;
}

