#leaveContacts{
   max-width: 500px;
}
#form{

    background-color:rgba(190, 189, 189, 0.938);
    padding:10px;
    border-radius: 3px;
    margin-top: 100px;
    margin-bottom: 100%;
    z-index: 10px;
    box-shadow: 10px 10px grey;
   
}
#submitinfo.btn-primary{
    background-image: none;
    background-color:#1a5d97;
    border-color:#337ab7;
    margin:3px;
   }
   #submitinfo.btn-primary:hover {
     background-color:#144168;
     color: white;
   }

   #inputs{
    animation:fadeInLeftBig;
    animation-duration: 2s;
   }
   #inquirytext, #submitinfo{
    animation:fadeInRightBig;
    animation-duration: 2s;
   }
   
   

