#projectCard {
    background: #fff;
    border-radius: 2px;
    height: 60vh;
    margin: 2vh;
    position: relative;
    width: 35vh;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    display: inline-block;
    justify-content: center;
    padding:10px;
    margin-bottom: 10vh;
    animation: backInUp;
    animation-duration: 2s;

  }

  .nobulletsList{
    list-style-type: none;
  }
  
  #projectCard > .img-container {
    height: 40%;
    overflow: hidden;
    text-align: center;
    /* margin-right: 8px; */

   
  }
  #projectCard > .img-container >img {
    height:100%;
    width: 100%;    
   
  }
  
  #projectCard > .content {
   
    font-size: 15px;
  }
  
  #projectCard > .content > ul {
    list-style-type: none;
    width: 100%;
  
  }
  
  #projectCard > .content > ul > li {
    margin-top: 18px;
    margin-left: -15%;
  }
 


  @media (max-width: 768px) {
    img.cardimg {     
      width: 100%;
    }
  }

  .cardBtn.btn-primary{
   background-image: none;
   background-color:#1a5d97;
   border-color:#337ab7;
  }

  .cardBtn.btn-primary:hover {
    background-color:#144168; /* Green */
    color: white;
  }

  .content{
    height: 20vh; 
    width: 100%;  
  }

  .projectBtn{
    position: absolute;    
    bottom: 1vh;
    margin-left: 0.5vh;
  }
  
  
  
