.myinfo{

    margin-top: 10%;
    flex-wrap: wrap;
    margin-left: 100px;
}

@media (prefers-reduced-motion: no-preference) {
    img {
      animation: App-logo-spin infinite 20s linear;
    }
  }
img{
    max-width: 300px;
    max-height: 250px;
    float:left;
    padding: 5px;
    
  margin-top: 3%;
  margin-left: 2%;
  

    
}
#infocard{
    /* display: flex;
    justify-content: center; */
    width:90%;
    height: auto;
    padding: 10px;
    /* flex-wrap: wrap; */
    margin-left: 6.5%;
    
}